.ant-rate {
  width: 105%;
  height: 46px;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  bottom: 0;
  position: absolute;
  /* left: -15px; */
  width: 240px;
  /* padding-bottom: 15px; */
}

.ant-rate-star, .ant-rate-star-full {
  /* width: 14.1px; */
  /* height: 10px; */
  /* margin-right: 20px; */
  margin-left: -4px;
  
}

/* .ant-rate-star .ant-rate-star-full {
  margin-right: 10px;
} */
