.movies {
  padding-left: 0;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(2, 48.13%);
  margin-bottom: 20px;
}

@media screen and (max-width: 720px) {
  .movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
  }
}
